.App {
  text-align: center;
}
.wrapper {
  position: absolute;
  padding: 10px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 500px;
  border-radius: 10px;
  box-shadow: 1px 12px 32px -9px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 1px 12px 32px -9px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 1px 12px 32px -9px rgba(0, 0, 0, 0.85);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  font-weight: bold;
}
input {
  width: 70%;
  height: 35px;
}
